/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
@import url(https://cdn.jsdelivr.net/fontsource/css/inter@latest/index.css);

html {
  --lumo-base-color:rgba(255,255,255,1);
  --lumo-font-family:Inter;
  --lumo-font-size-l:1.125rem;
  --lumo-font-size-m:1rem;
  --lumo-font-size-s:0.875rem;
  --lumo-font-size-xl:1.375rem;
  --lumo-font-size-xs:0.8125rem;
  --lumo-font-size-xxl:1.75rem;
  --lumo-font-size-xxs:0.75rem;
  --lumo-font-size-xxxl:2.5rem;
  --lumo-line-height-m:1.625;
  --lumo-line-height-s:1.375;
  --lumo-line-height-xs:1.25;
  --lumo-primary-color:#0b2c36;
  --lumo-primary-text-color:#0b2c36;
  --lumo-shade:#0b2c36;
  --lumo-space-l:1.25rem;
  --lumo-space-m:0.625rem;
  --lumo-space-s:0.3125rem;
  --lumo-space-xl:1.875rem;
  --lumo-space-xs:0.1875rem;
}

[theme~="dark"] {
  --lumo-base-color: #0b2c36;
  --lumo-primary-color: #0c8699;
  --lumo-primary-text-color:rgba(255,255,255,1);
  --lumo-shade:#0c8699;
}